In [2]:
#packages
import pandas as pd

In [4]:
df = pd.read_csv("diamonds_dataset.csv")
df.head()

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119307 entries, 0 to 119306
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            119307 non-null  int64
 1   url           119307 non-null  object
 2   shape         119307 non-null  object
 3   price         119307 non-null  int64
 4   carat         119307 non-null  float64
 5   cut           119307 non-null  object
 6   color         119307 non-null  object
 7   clarity       119307 non-null  object
 8   report        119307 non-null  object
 9   type          119307 non-null  object
 10  date_fetched  119307 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.0+ MB